.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 40px;
}
.caps-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin: 40px 30px;
}
.selected-cap{
 background-color: whitesmoke;
box-shadow: 5px 5px 11px rgba(0,0, 0, .5);
padding: 0 20px;
}
@media only screen and (max-width:689px) {
    .shop-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .caps-container{
        grid-template-columns: repeat(1,1fr);

    }
}